<div class="m-3 flex flex-col gap-5 w-full">
	<div class="text-xl text-[#3643ba] font-bold">
		Gestionnaire de lumières
	</div>

	<div class="flex gap-3 flex-wrap">
		<div *ngFor="let light of getLights()">
			<app-light [name]="light.name"
					   [state]="light.state"
					   (change)="invertLight(light.id)"
					   (delete)="removeLight(light)"/>
		</div>
	</div>
	<div class="flex gap-3">
		<div class="p-3 border rounded bg-[#3643ba] text-white cursor-pointer hover:bg-gray-400" (click)="addLight()">
			Ajouter une lampe
		</div>
		<div class="p-3 border rounded bg-[#3643ba] text-white cursor-pointer hover:bg-gray-400" (click)="invertAllLights()">
			Inverser l'état des lampes
		</div>
	</div>
</div>
